/* Image CSS */
#pictureset1 {
  display: none;
  width: 100%;
  height: 400px;
  /* align-content: center; */
}

#pictureset2 {
  width: 30%;
  height: 150px;
  margin-left: 2%;
}

#logo {
  height: 130px;
  margin-left: 25%;
}

#backImage {
  opacity: .3;
  z-index: -1;
  position: absolute;
  width: 100%;
}

#epicodus {
  margin-top: 15%;
  margin-left: 20%;
}

/* Text CSS */

#headerText {
  font-size: 16px;
}

a {
  color: blue;
}


h1, h2, p, footer, iframe {
  text-align: center;
}

iframe {
  margin-left: 3%;
  margin-top: 3%;
}
