#eifeltower {
  float: left;
  height: 200px;
  width: 300px;
  margin-right:15px;
}
#eifeltower:hover {
  float: left;
  height: 200px;
  width: 300px;
  margin-right:15px;
  border: solid black;
  transform: scale(1.1);

}
#boullian {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
}

#boullian:hover{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
  border: solid black;
  transform: scale(1.1);
}
#moulin {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;

}

#moulin:hover{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
  border: solid black;
  transform: scale(1.2);

}



.topnav {
  overflow: hidden;
  background-color: skyblue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
h3 {
  color: blue;
  font-style: italic;
  font-family: sans-serif;
}
#palace, #louvre, #notredam {
  width: 300px;
  height: 200px;
}
h2 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	font-weight: normal;
	font-size: 7rem;

}

.paragraph {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
}
.jumbotron {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
