#stone-hedge{
  float: right;
  height: 200px;
  width: 300px;
  margin-left:15px;
}
#stone-hedge:hover {
  float: right;
  height: 200px;
  width: 300px;
  margin-left:15px;
  border: solid black;
  transform: scale(1.3);

}
#windsor {
  height: 200px;
  width: 300px;
  float: right;
  margin-left: 15px;
}

#windsor:hover{
  height: 200px;
  width: 300px;
  float: right;
  margin-left: 15px;
  border: solid black;
  transform: scale(1.3);
}
#queen {
  height: 220px;
  width: 200px;
  float: right;
  margin-left: 15px;

}

#queen:hover{
  height: 220px;
  width: 200px;
  float: right;
  margin-left: 15px;
  border: solid black;
  transform: scale(1.3);

}



.topnav {
  overflow: hidden;
  background-color: blue;
  font-family: 'Kavoon';font-size: 22px;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 15%;
}

.topnav a:hover {
  background-color: white;
  color: yellow;
}

.topnav a.active {
  background-color: white;
  color: red;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
h3 {
  color: red;
  font-family:'Calligraffitti';font-size: 60px;


}
.image-size {
  width: 300px;
  height: 200px;

}
h2 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	font-weight: normal;
	font-size: 7rem;

}

#paragraph1{
  font-family: 'Calligraffitti', cursive, sans-serif;
  color: black;
  text-shadow: 1px 1px white;

}
#paragraph2{
  font-family: 'Calligraffitti', cursive, sans-serif;
  color: #e6e6e6;
  text-shadow: 1px 1px black;
}
#paragraph3{
  font-family: 'Calligraffitti', cursive, sans-serif;
  color: black;
  text-shadow: 1px 1px white;
}

#jumbotron1 {
  background-image: url(../img/london-background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron2 {
  background-image: url(../img/london-background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbotron3 {
  background-image: url(../img/london-background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

body {
  background-color: #cce6ff;
}
.mySlides {
  height: 80%;
  width: 100%;
}
.checked {
    color: orange;
}
