#eifeltower {
  float: left;
  height: 200px;
  width: 300px;
  margin-right:15px;
}
#eifeltower:hover {
  float: left;
  height: 200px;
  width: 300px;
  margin-right:15px;
  border: solid black;
  transform: scale(1.3);

}
#boullian {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
}

#boullian:hover{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
  border: solid black;
  transform: scale(1.3);
}
#moulin {
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;

}

#moulin:hover{
  height: 200px;
  width: 300px;
  float: left;
  margin-right: 15px;
  border: solid black;
  transform: scale(1.3);

}



.topnav {
  overflow: hidden;
  background-color: black;
  font-family: 'Kavoon';font-size: 22px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 15%;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: skyblue;
  color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
h3 {
  color: blue;
  font-family:'Annie Use Your Telescope';font-size: 60px;


}
.image-size {
  width: 300px;
  height: 200px;

}
h2 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	font-weight: normal;
	font-size: 7rem;

}

#paragraph1{
  font-family: 'Annie Use Your Telescope', cursive, sans-serif;
  color: black;
  text-shadow: 1px 1px white;

}
#paragraph2{
  font-family: 'Annie Use Your Telescope', cursive, sans-serif;
  color: #e6e6e6;
  text-shadow: 1px 1px black;
}
#paragraph3{
  font-family: 'Annie Use Your Telescope', cursive, sans-serif;
  color: black;
  text-shadow: 1px 1px white;
}

#jumbotron1 {
  background-image: url(../img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#jumbotron3 {
  background-image: url(../img/nighttime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbotron2 {
  background-image: url(../img/paris-nightlife.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

body {
  background-color: #cce6ff;
}
.mySlides {
  height: 80%;
  width: 100%;
}
.checked {
    color: orange;
}
